html,
body,
div,
span,
img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.pokedex {
    background-color: crimson;
    background-image: url(../images/wp3170171.png);
    background-position: center;
    background-size: 100%;
    min-height: 50vh;
}

h1 {
    text-align: center;
    padding-top: 120px;
    color: crimson;
    display: block;
    margin: 0 auto 20px auto;
}

button {
    display: block;
    margin: 20px auto;
    background: grey;
    color: cyan;
    border: 0;
    padding: 6px 10px;
    border-radius: 20px;
}

input {
    display: block;
    margin: 10px auto;
    background: gray;
    color: cyan;
    border: 0;
    padding: 4px;
    border-radius: 20px;
}

::placeholder {
    color: cyan;
    opacity: 1;
}


li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
    font-weight: bold;
    background-color: blue;
    border-radius: 20px;
    color: white;
}

.fin {
    background-color: green;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: antiqueWhite;
    position: relative;
    border-radius: 40px;
}

.popup a {
    background: grey;
    color: cyan;
    text-decoration: none;
    padding: 6px 10px;
}

.popup-close {
    position: absolute;
    top: 8px;
    right: 15px;
    display: none;
    cursor: pointer;
}

form {
    max-width: 60%;
    max-height: 60%;
    margin: 40px auto;
    background: gold;
    padding: 10px;
    border-radius: 40px;
    border: 1px dotted #ddd;
}

p {
    text-decoration: solid;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pokedex {
        background-color: crimson;
        background-image: url(../images/wp3170171.png);
        background-position: center;
        background-size: 100%;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        color: crimson;
        display: block;
        margin: 0 auto 20px auto;
    }

    form {
        max-width: 60%;
        max-height: 60%;
        margin: 40px auto;
        background: gold;
        padding: 10px;
        border-radius: 40px;
        border: 1px dotted #ddd;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .pokedex {
        position: relative;
        background-color: crimson;
        background-image: url(../images/wp3170171.png);
        background-position: center;
        background-size: 100%;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        color: crimson;
        display: block;
        margin: 0 auto 20px auto;
    }

    form {
        max-width: 60%;
        max-height: 60%;
        margin: 40px auto;
        background: gold;
        padding: 10px;
        border-radius: 40px;
        border: 1px dotted #ddd;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pokedex {
        background-color: crimson;
        background-image: url(../images/wp3170171.png);
        background-position: center;
        background-size: 100%;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        color: crimson;
        display: block;
        margin: 0 auto 20px auto;
    }

    form {
        max-width: 60%;
        max-height: 60%;
        margin: 40px auto;
        background: gold;
        padding: 10px;
        border-radius: 40px;
        border: 1px dotted #ddd;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pokedex {
        background-color: crimson;
        background-image: url(../images/wp3170171.png);
        background-position: center;
        background-size: 100%;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        color: crimson;
        display: block;
        margin: 0 auto 20px auto;
    }

    form {
        max-width: 60%;
        max-height: 60%;
        margin: 40px auto;
        background: gold;
        padding: 10px;
        border-radius: 40px;
        border: 1px dotted #ddd;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pokedex {
        background-color: crimson;
        background-image: url(../images/wp3170171.png);
        background-position: center;
        background-size: 100%;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        padding-top: 120px;
        color: crimson;
        display: block;
        margin: 0 auto 20px auto;
    }

    form {
        max-width: 60%;
        max-height: 60%;
        margin: 40px auto;
        background: gold;
        padding: 10px;
        border-radius: 40px;
        border: 1px dotted #ddd;
    }
}